<div class="container border mainContainer">
    <div class="page-header">
        {{#link-to 'index'}}
            <h1>Rock & Roll<small> with Ember.js</small></h1>
        {{/link-to}}
        <hr/>
    </div>
    
        <div class="row">
            <div class="col-md-12">
                {{outlet}}
            </div>
        </div>
    
</div>

{{#link-to 'test-page'}}
    <p class="test-page">Test page</p>
{{/link-to}}